// @import url(http://fonts.googleapis.com/css?family=Pacifico);
// @import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import '_normalize.scss';
@import '_foundation.min.scss';

$black: #262322;
$green: #70B77E;
$lightgreen: #7ABBA2;
$blue: #1098F7;
$white: #ffffff;
$brown: #B89E97;

body{
	margin: 0;
	padding: 0;
	background-color: $black;
}

a{
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: $blue;
}

.fa-bars{
	font-size: 3rem;
	color: $green;
}

.footer{
	min-height: 50vh;
	background:rgba(tomato,0.7);
	ul.inline-list{
		margin: 0 auto;
		width: 270px;
		position: relative;
		top: 150px;
		li{
			text-align: center;
			margin-left: 50px;
			&:first-child{
				margin-left: 0;
			}
		}
	}
	.fa{
		color: white;
		transition: .5s all;
		&:hover{
			color: black;
		}
		// &.fa-twitter:hover{
		// 	color:$blue;
		// }
		// &.fa-github:hover{
		// 	color:black;
		// }
		// &.fa-codepen:hover{
		// 	color:black;
		// }
		// &.fa-linkedin:hover{
		// 	color:#006fa6;
		// }
	}
}
.full{
	height: 100vh;
	width: 100vw;
	background-size: cover !important;
	background-position: center center !important;
}
.contactForm{
	min-height: 300px;
	padding: 50px 0;
	max-width: 800px;
	display: block;
	margin: 0 auto;
	h2 {
		color:rgba($white,0.8);
		font-size: 2rem;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}
	input{
		width: 100%;
		color:$brown;
		background: transparent;
		border:0px solid transparent;
		border-bottom: 1px solid rgba(255,255,255,0.7);
		font-size: 1.5rem;
		padding: 15px;
		font-family: 'Lato', sans-serif;
		font-weight: 100;
		&:focus,
		&:active {
		  outline-color: transparent ;
		  outline-style: none ;
		}
	}
	textarea{
		width: 100%;
		display: block;
		margin: 10px auto;
		color:$brown;
		background: transparent;
		border:0px solid transparent;
		border-bottom: 1px solid rgba(255,255,255,0.7);
		font-size: 1.5rem;
		padding: 15px;
		max-width: 100%;
		font-family: 'Lato', sans-serif;
		font-weight: 100;
		&:focus,
		&:active {
		  outline-color: transparent ;
		  outline-style: none ;
		}
	}
	.sendForm{
		width: 100%;
		text-align: center;
		display: block;
		margin: 35px auto;
		border: 2px solid $green;
		padding: 10px;
		border-radius: 2px;
		font-size: 1.5rem;
		font-weight: 400;
		color: $blue;
		background-color: transparent;
		transition: .5s all;
		&:hover{
			color: $green;
			background-color: rgba($blue,0.8);
			border-color: $blue;
		}
	}
}

.columns.fullwidth{
	padding: 0px !important;
	margin: 0px !important;
	height: 120px;
}

.offCanvas{
	position: fixed;
	top: 0;
	min-height: 100vh;
	width: 500px;
	right: -500px;
	transition: .5s all;
	background: $green;
	color: $brown;
	&.show{
		right: 0;
	}
}

.mainWrapper{
	transition:.5s all;
	right: 0px;
	position: relative;
	&.show{
		right: 500px;
		position: relative;
	}
}

.blogpost{
	height: 100%;
	background-size: cover;
	background-position: center center;
	.content{
		opacity: 0;
		height: 100%;
		width: 100%;
		transition: 0.5s ease;
	}
	&:hover{
		.content{
			opacity: 1;
		}
	}
}

.wrapper{
	overflow:hidden;
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
	.parallax{
		height:110vh;
		width:110vw;
		left:-5vw;
		background-size:cover !important;
		position:absolute;
		background-repeat: no-repeat !important;
		background-position: center center !important;
		top: 0;
		transition: 0.01s ease;
		transform: translate3d(0, 0, 0);
	}
	.container{
		position: absolute !important;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(to left,rgba($blue,0.3),rgba($green,0.5));
		.content{
			width: 300px;
			display: block;
			height: 300px;
			margin: calc(50vh - 150px) auto;
			text-align: center;
			h3{
				font-family: 'Lato', sans-serif;
			}
			img{
				width: 300px;
				margin: auto;
				&.small.scroll{
					width: 20px;
					bottom: -100px;
					left: calc(50% - 10px);
					position: absolute;
					color: $green;
				}
			}
		}
	}
	*:not(.parallax){
		position: relative;
	}
}
