<div class="full gradient-bkg">
<a ng-href="#/"><h1 class="main-title" id="title" >Rate My Customer</h1></a>
<input type="text" class="input-main" placeholder="Search your customer..." ng-model="nomec">
<ul ng-if="nomec.length > 0 " class="customer-list" ng-controller="viewCompany">
<li ng-repeat="azienda in data | filter:nomec">
		<a ng-href="#view-comment/{{azienda.$id}}">{{azienda.nome}}
		{{azienda.luogo}}
		{{azienda.PIVA}}</a>
	</li>
</ul>
<a ng-href="#insert"><button class="submit-border">Not Found?</button></a>
</div>