<div class="full gradient-bkg">
<a ng-href="#/"><h1 class="main-title" >Rate My Customer</h1></a>
<form ng-submit="insertCompany()" class="bottom">
<input type="text" class="input-main input-insert" placeholder="Insert Company Name" ng-model="newCompany.nome" >
<input type="text" class="input-main input-insert" placeholder="Insert Location" ng-model="newCompany.luogo">
<input type="text" class="input-main input-insert" placeholder="Insert P.IVA" ng-model="newCompany.PIVA">
<input type="submit" placeholder="Insert" class="submit-insert">
</form>
</div>